body {
    font-family: 'manrope';
    margin: 0;
    padding: 0;
    background-color: #202E24 ;
    color: #1e5117;
}
  

.container {
    background-color: #e6e1cc;
    padding-top: 3%;
    padding-bottom: 7%;
}



.header {
    background: #202E24;
    color: #fff;
    padding: 1rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 1000;
}

.nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
  }

.navbar a:hover {
    text-decoration: underline;
}

.product-detail {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-image img {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    /* border: solid rgba(58, 58, 58, 0.326); */
}

.product-variation img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: solid rgba(0, 0, 0, 0.483);
}

.product-info {
    flex: 1;
    margin-left: 20px;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.5rem;
    color: #FF5722;
    margin: 10px 0;
}

.product-rating {
    margin: 10px 0;
}

.product-size,
.product-quantity {
    margin: 20px 0;
}

.product-buttons {
    margin: 20px 0;
}

.product-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
}

.order-now {
    background-color: #FF5722;
    color: white;
}


.footer {
    background: #202E24;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 1000; 
}

.social-media a {
    text-decoration: none;
    color: white;
    margin: 5px;
}
  
  .social-media a.mid {
    border-left: 1px solid #fff;   
    border-right: 1px solid #fff;  
    padding: 0 10px;             
}
  
